//
// One column page
// --------------------------------------------------

.one-column-template {
    &.team-template {
        .page-header {
            margin-bottom: 10px;
        }
        p.designation {
            margin-bottom: 20px;
        }
    }
    .wrapper {
        padding: 47px 73px 47px 73px;
        background-color: $LightGray;
    }
    .page-header {
        @extend %heading-level-1;
        color: $Blue;
        margin-bottom: 30px;
    }
    .four-column {
        .wrapper {
            padding: 47px 0 0 46px;
        }
    }
    .page-content {
        @extend %typography;
        padding: 0px;
        .media {
            @extend %pull-left;
            margin-right: 0px;
        }
    }
}