//
// One column page
// --------------------------------------------------

.one-column-template {
    .wrapper{
        padding: 47px 73px 47px 73px;
        background-color: $LightGray;
    }
    .page-header{
    	@extend %heading-level-1;
    	color: $Blue;
    }
    .four-column{
    	.wrapper{
    		padding: 47px 0 0 46px;
    	}
    }
    .page-content{
    	@extend %typography;
    	padding:0px;
    }
}