@include class(btn) {
	@extend %copy-button;
	@extend %text-center;

	@include box-shadow(none);
	@include size(auto, auto);
	@include border-radius(8px);
	@include transition(border-color .3s ease-in-out, background-color .3s ease-in-out);

	display: inline-block;
	position: relative;
	white-space: nowrap;
	outline: none;
	margin: 0;
	padding: 10px 30px;
	border: 1px solid transparent;
	text-decoration: none;
	-webkit-appearance: none;
	font-style: normal;

	&:hover{
		text-decoration: none;
	}
	
	//  Primary Button Styling

	&.primary{
		color: $dh-white;
		&.blue{
			background-color: $dh-blue;
			border-color: $dh-blue;
			&:hover{
				background-color: $dh-blue-light;
				color: $dh-blue;
			}
		}
		&.purple{
			background-color: $dh-purple;
			border-color: $dh-purple;
			&:hover{
				background-color: $dh-purple-light;
				color: $dh-purple;
			}
		}
		&.violet{
			background-color: $dh-violet;
			border-color: $dh-violet;
			&:hover{
				background-color: $dh-violet-light;
				color: $dh-violet;
			}
		}
		&.yellow{
			background-color: $dh-yellow;
			border-color: $dh-yellow;
			&:hover{
				background-color: $dh-yellow-light;
				color: $dh-yellow;
			}
		}
		&.orange{
			background-color: $dh-orange;
			border-color: $dh-orange;
			&:hover{
				background-color: $dh-orange-light;
				color: $dh-orange;
			}
		}
		&.gray{
			background-color: $dh-gray;
			border-color: $dh-gray;
			&:hover{
				background-color: $dh-gray-light;
				color: $dh-gray;
			}
		}
		&.red{
			background-color: $dh-red;
			border-color: $dh-red;
			&:hover{
				background-color: $dh-red-light;
				color: $dh-red;
			}
		}
		&.berry{
			background-color: $dh-berry;
			border-color: $dh-berry;
			&:hover{
				background-color: $dh-berry-light;
				color: $dh-berry;
			}
		}
		&.green{
			background-color: $dh-green;
			border-color: $dh-green;
			&:hover{
				background-color: $dh-green-light;
				color: $dh-green;
			}
		}
		&.lime{
			background-color: $dh-lime;
			border-color: $dh-lime;
			&:hover{
				background-color: $dh-lime-light;
				color: $dh-lime;
			}
		}
	}
	
	//  Secondary Button Styling

	&.secondary{
		&.blue{
			background-color: $dh-blue-light;
			border-color: $dh-blue;
			color: $dh-blue;
			&:hover{
				background-color: $dh-blue;
				color: $dh-white;
			}
		}
		&.purple{
			background-color: $dh-purple-light;
			border-color: $dh-purple;
			color: $dh-purple;
			&:hover{
				background-color: $dh-purple;
				color: $dh-white;
			}
		}
		&.violet{
			background-color: $dh-violet-light;
			border-color: $dh-violet;
			color: $dh-violet;
			&:hover{
				background-color: $dh-violet;
				color: $dh-white;
			}
		}
		&.yellow{
			background-color: $dh-yellow-light;
			border-color: $dh-yellow;
			color: $dh-yellow;
			&:hover{
				background-color: $dh-yellow;
				color: $dh-white;
			}
		}
		&.lime{
			background-color: rgba(178, 193, 0, 0.1);
			border-color: rgb(178, 193, 0);
			color: rgb(178, 193, 0);
			&:hover{
				background-color: rgb(178, 193, 0);
				color: $dh-white;
			}
		}
		&.orange{
			background-color: $dh-orange-light;
			border-color: $dh-orange;
			color: $dh-orange;
			&:hover{
				background-color: $dh-orange;
				color: $dh-white;
			}
		}
		&.gray{
			background-color: $dh-gray-light;
			border-color: $dh-gray;
			color: $dh-gray;
			&:hover{
				background-color: $dh-gray;
				color: $dh-white;
			}
		}
		&.red{
			background-color: $dh-red-light;
			border-color: $dh-red;
			color: $dh-red;
			&:hover{
				background-color: $dh-red;
				color: $dh-white;
			}
		}
		&.berry{
			background-color: $dh-berry-light;
			border-color: $dh-berry;
			color: $dh-berry;
			&:hover{
				background-color: $dh-berry;
				color: $dh-white;
			}
		}
		&.green{
			background-color: $dh-green-light;
			border-color: $dh-green;
			color: $dh-green;
			&:hover{
				background-color: $dh-green;
				color: $dh-white;
			}
		}
	}
}

a.button{
	&:hover{
		text-decoration: none;
	}
}