//
// Components
// --------------------------------------------------

%pull-none {
    float: none;
}

%pull-left {
    float: left;
}

%pull-right {
    float: right;
}

%text-left {
    text-align: left;
}

%text-right {
    text-align: right;
}

%text-center {
    text-align: center;
}

%block-center {
    margin: 0px auto;
}

%block-level {
    display: block;
}

%block-inline-level {
    display: inline-block;
}

%hide {
    display: none;
}

%show {
    display: block;
}

%relative {
    position: relative;
}

%absolute {
    position: absolute;
}

%fixed {
    position: fixed;
}

%ohide {
    overflow: hidden;
}

.clearfix {
    @include clearfix;
}

.clear {
    clear: both;
    @extend %ohide;
}

.trans {
    @include transition(0.5s);
}

.blue-area {
    background: $Blue;
}

.strongyellow-area {
    background: $StrongYellow;
}

.yellow-area {
    background: $Yellow;
}

.offwhite-area {
    background: $OffWhite;
}

.oderate-violet-area {
    background: $ModerateViolet;
}

.green-area {
    background: $Green;
}

.orange-area {
    background: $Orange;
}

a {
    text-decoration: none;
}

td {
    vertical-align: top;
    padding: 0px 20px;
}

.arrow-right {
    width: 0;
    height: 0;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 12px solid $White;
}

.button {
    @include border_radius(13px);
    @include transition(all 0.3s ease);
    background-color: rgba(255, 255, 255, 0.2);
    border: 2px solid $White;
    font-size: 13px;
    padding: 17px 41px;
    text-align: center;
    color: $White;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    &:hover {
        background-color: rgba(255, 255, 255, 0.5);
    }
    &.arrow {
        position: relative;
        &:before {
            position: absolute;
            top: 16px;
            left: 20px;
            @extend .arrow-right;
            content: '';
        }
    }
    &.blue {
        border: 1px solid $Blue;
        background-color: rgba($Blue, 0.1);
        color: $Blue;
        &:hover {
            background-color: rgba($Blue, 0.2);
        }
    }
    &.softyellow {
        background-color: rgba($White, 0.7);
        color: $StrongYellow;
        &:hover {
            background-color: rgba($White, 0.8);
        }
    }
    &.yellow {
        background-color: rgba($White, 0.7);
        color: $Yellow;
        &:hover {
            background-color: rgba($White, 0.9);
        }
    }
    &.transparent {
        border: 1px solid $White;
        background-color: rgba($White, 0);
        &:hover {
            background-color: rgba($White, 0.3);
        }
    }
    &.moderateviolet {
        background-color: rgba($ModerateViolet, 0.3);
        border-color: $ModerateViolet;
        color: $ModerateViolet;
        &:hover {
            background-color: rgba($ModerateViolet, 0.5);
        }
    }
    &.green {
        background-color: rgba($Green, 0.3);
        border-color: $Green;
        color: $Green;
        &:hover {
            background-color: rgba($Green, 0.5);
        }
    }
    &.orange {
        background-color: rgba($Orange, 0.5);
        border-color: $Orange;
        color: $Orange;
        &:hover {
            background-color: rgba($Orange, 0.7);
        }
    }
}

.rounded-block {
    .wrapper {
        background-color: $LightGray;
        padding: 59px 59px 63px 59px;
        @media (max-width: $screen-sm-max) {
            padding: 15px;
        }
        .container {
            @include clearfix;
            @include border_radius(20px);
            border: 5px solid darken($LightGray, 6.2%);
            // #dfdfdf
            background-color: $White;
            padding: 41px 36px;
            @media (max-width: $screen-sm-max) {
                padding: 15px !important;
                .left-col, .right-col {
                    @include size(100%, auto);
                    margin: 15px 0;
                    text-align: center;
                    img {
                        max-width: 100%;
                        height: auto;
                    }
                }
                .content {
                    img {
                        max-width: 100%;
                        height: auto;
                        margin: 0;
                    }
                }
            }
        }
    }
    h2 {
        @extend %heading-level-4;
        line-height: 57px;
        span {
            @extend %heading-level-12;
            color: $LightBlue;
            font-style: italic;
            display: block;
        }
        @media (max-width: $screen-sm-max) {
            line-height: inherit;
            span {
                margin-top: 8px;
            }
        }
    }
    p {
        line-height: 28px;
        padding-bottom: 17px;
        //width: 74%;
        @extend %pull-left;
        &:last-child {
            padding-bottom: 0;
        }
    }
    .left-col {
        @extend %pull-left;
    }
    .right-col {
        @extend %pull-right;
    }
    @media (max-width: $screen-sm-max) {}
}

.two-column {
    @include clearfix;
    h2 {
        @extend %heading-level-7;
        text-align: center;
        font-style: italic;
        margin-bottom: 54px;
    }
    p {
        color: $White;
        line-height: 28px;
        font-style: italic;
    }
    .left-col {
        @extend %pull-left;
        @include size(585px, 545px);
    }
    .right-col {
        @extend %pull-right;
        @include size(585px, 545px);
    }
    @media (max-width: $screen-sm-max) {
        .left-col, .right-col {
            @include size(100%, auto);
            margin: 0;
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
    }
    &.coin-animation {
        .left-col {
            .media {
                padding: 20px !important;
                h2 {
                    margin: 0 0 20px;
                }
            }
            .all-coins {
                .coin {
                    text-align: center;
                    perspective: 600px;
                    width: 50%;
                    margin: 0 0 24px;
                    .front, .back {
                        left: 50%;
                        margin: auto auto auto -65px;
                        width: 130px;
                    }
                }
            }
        }
    }
}

.coin-animation {
    @include clearfix;
    .coin {
        @include square(130px);
        @extend %pull-left;
        position: relative;
        margin: 0 35px 24px 0;
        &.left-pull {
            margin-left: 84px;
        }
        .front {
            position: absolute;
            @include size(100%, 130px);
        }
        .back {
            position: absolute;
            @include size(100%, 130px);
        }
    }
}

.horizontal-slider {
    text-align: center;
    .slide {
        @include size(100%, 285px);
        @extend %block-center;
        text-center: center;
        img {
            margin: auto;
            height: 100px;
        }
        .cycle-slide {
            @extend %text-center;
            @include size(100%, 205px);
            top: 50% !important;
            margin-top: -45px;
        }
    }
    .pager {
        margin-bottom: 32px;
        a {
            @extend %pharagraph-level-1;
            @include transition(all 0.3s ease);
            @include border_radius(100%);
            @include square(44px);
            color: $White;
            display: inline-block;
            line-height: 44px;
            background-color: darken($LightGray, 6.2%);
            // #dfdfdf
            margin-right: 14px;
            &.cycle-pager-active,
            &:hover {
                background-color: $DarkCyan;
            }
        }
    }
}

.three-column {
    text-align: center;
    .wrapper {
        @include clearfix;
        padding: 68px 61px 124px 61px;
        @media (max-width: $screen-sm-max) {
            padding: 20px;
        }
    }
    h2 {
        @extend %heading-level-7;
        //font-style: italic;
        margin-bottom: 38px;
    }
    .col {
        @include square(336px);
        position: relative;
        overflow: hidden;
        @media (max-width: $screen-sm-max) {
            @include size(100%, 336px);
        }
    }
    .left-col {
        @extend %pull-left;
    }
    .middle-col {
        @extend %pull-left;
        margin-left: 20px;
        @media (max-width: $screen-sm-max) {
            margin: 10px 0;
        }
    }
    .right-col {
        @extend %pull-right;
    }
    .content {
        display: table;
        text-align: center;
        @include square(336px);
        position: absolute;
        bottom: 0px;
        background-color: $Blue;
        @media (max-width: $screen-sm-max) {
            @include size(100%, 336px);
        }
        h3 {
            @extend %heading-level-4;
            color: $White;
            line-height: 43px;
        }
        .v-aling {
            @include square(336px);
            vertical-align: middle;
            display: table-cell;
            @media (max-width: $screen-sm-max) {
                @include size(100%, 336px);
            }
        }
        &.small {
            height: 85px;
            .v-aling {
                height: 85px;
            }
        }
        &.medium {
            height: 100px;
        }
        span {
            display: block;
            text-align: left;
            padding-top: 4px;
            padding-left: 23px;
            letter-spacing: 1px;
            &.date {
                @extend %heading-level-12;
                color: $White;
            }
            &.location {
                @extend %pharagraph-level-4;
                color: $LightModerateViolet;
            }
        }
    }
    &.blue {
        .content {
            background-color: $Blue;
            &.small {
                .v-aling {
                    padding: 0 20px;
                }
            }
        }
        .hover-content {
            background-color: lighten($Blue, 35%);
            color: $White;
            @media (max-width: $screen-sm-max) {
                @include size(100%, 336px);
            }
            .button {
                background: rgba(255, 255, 255, 0.5);
                padding: 10px 45px;
                margin-top: 20px;
                &:hover {
                    background: rgba(255, 255, 255, 0.8);
                }
            }
        }
    }
    &.oderate-violet {
        .content {
            background-color: $ModerateViolet;
        }
        .hover-content {
            background-color: lighten($ModerateViolet, 30%);
            color: $White;
            p {
                span {
                    display: block;
                    text-transform: uppercase;
                    color: $ModerateViolet;
                    font-style: normal;
                }
            }
            .button {
                background: rgba(255, 255, 255, 0.4);
                border-width: 1px;
                padding: 10px 45px;
                margin-top: 20px;
                &:hover {
                    background: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }
    &.green {
        .content {
            background-color: $Green;
        }
        .hover-content {
            background-color: #7bda9d;
            // need to set variable
            color: $White;
            .button {
                background: rgba(255, 255, 255, 0.6);
                border-width: 1px;
                padding: 10px 45px;
                margin-top: 20px;
                &:hover {
                    background: rgba(255, 255, 255, 0.9);
                }
            }
        }
    }
    &.blog {
        .media {
            img {
                max-width: 336px;
                height: auto;
                @media (max-width: $screen-sm-max) {
                    max-width: 100%;
                }
            }
        }
    }
}

.four-column {
    overflow: hidden;
    .wrapper {
        @include clearfix;
        background-color: $LightGray;
        padding: 50px 61px 78px 82px;
        @media (max-width: $screen-sm-max) {
            padding: 20px;
        }
    }
    h2 {
        @extend %heading-level-7;
        //font-style: italic;
        margin-bottom: 38px;
        text-align: center;
    }
    .col {
        @include square(226px);
        position: relative;
        margin-right: 34px;
        margin-bottom: 32px;
        overflow: hidden;
        &.last {
            margin-right: 0;
        }
    }
    .left-col {
        @extend %pull-left;
    }
    .content {
        @include square(226px);
        position: absolute;
        bottom: 0px;
        @include transition(all 0.5s ease);
        h3 {
            color: $White;
            @extend %heading-level-10;
            text-align: center;
            line-height: 27px;
        }
        span {
            @extend %pharagraph-level-6;
            color: lighten($Black, 60%);
            // #666666
            text-transform: uppercase;
            letter-spacing: 1px;
        }
        .v-aling {
            @include square(226px);
            vertical-align: middle;
            display: table-cell;
        }
        &.small {
            height: 55px;
            background: rgba($Black, 0.7);
            padding-left: 18px;
            h3 {
                @extend %pharagraph-level-2;
                text-align: left;
            }
            .v-aling {
                height: 55px;
            }
        }
    }
    .more-team {
        .content {
            background-color: $ModerateViolet;
            @include bg-img-only(more_team, png, no-repeat, center, center);
        }
    }
}

.get-involved {
    .work-survey {
        .content {
            @include bg-img-only(notepad, png, no-repeat, center, center);
        }
    }
    .schedule-call {
        .content {
            @include bg-img-only(phone, png, no-repeat, center, center);
        }
    }
    .calculate {
        .content {
            @include bg-img-only(calculater, png, no-repeat, center, center);
        }
    }
    .become-partner {
        .content {
            @include bg-img-only(become-partner-bg, png, no-repeat, center, center);
        }
    }
    .become-partner-product {
        .content {
            @include bg-img-only(product-graphic, png, no-repeat, center, center);
        }
    }
}

.over-the-globe {
    text-align: center;
    .left-col {
        background: $OffWhite;
    }
    .right-col {
        background: $Yellow;
    }
    .offwhite-area {
        .content {
            padding: 76px 0 0 0px;
            img {
                margin-left: -16px;
            }
            h2 {
                line-height: 35px;
                letter-spacing: -1px;
                margin-bottom: 18px;
                font-style: normal;
            }
        }
    }
    .yellow-area {
        .media {
            padding-top: 66px;
            padding-bottom: 44px;
        }
        .content {
            padding: 0 90px;
            p {
                padding-bottom: 34px;
            }
            .button {
                padding: 19px 48px;
            }
        }
    }
    @media (max-width: $screen-sm-max) {
        .offwhite-area {
            .content {
                padding: 20px;
                img {
                    margin: 10px 0;
                }
            }
        }
        .yellow-area {
            .media {
                padding: 20px;
            }
            .content {
                padding: 20px;
                p {
                    padding-bottom: 20px;
                }
                .button {
                    padding: 19px 48px;
                }
            }
        }
    }
}

.inspiration {
    .content {
        padding: 118px 43px 46px 66px;
        letter-spacing: -1px;
        h3 {
            @extend %heading-level-1;
            color: $White;
            margin-bottom: 75px;
            span {
                @extend %heading-level-7;
                color: $SoftYellow;
                font-style: italic;
                display: block;
                margin-top: 18px;
                line-height: 39px;
            }
        }
        .button {
            padding: 19px 34px;
            margin-left: 115px;
        }
    }
    .left-col {
        background: $StrongYellow;
    }
    &.rtt {
        h3 {
            span {
                color: white;
            }
        }
        .button {
            min-width: 235px;
        }
    }
    &.updated {
        h3 {
            span {
                font-size: 25px;
                margin-top: 7px;
            }
            margin-bottom: 15px !important;
        }
        .content {
            p {
                line-height: 29px;
            }
        }
    }
}

.products-animation {
    text-align: center;
    .wrapper {
        @include clearfix;
        padding: 70px 0 0 0;
    }
    h2 {
        @extend %heading-level-7;
        //font-style: italic;
        margin-bottom: 20px;
    }
    img {
        width: 412px;
        height: 412px;
    }
}

.clients {
    .media {
        @include clearfix;
        padding: 63px;
        letter-spacing: -1px;
        .all-coins {
            padding-left: 82px;
        }
        .coin {
            margin: 0 35px 30px 0;
            .left-pull {
                margin-left: 0px;
            }
        }
        @media (max-width: $screen-sm-max) {
            .all-coins {
                padding-left: 0;
            }
        }
    }
    .content {
        padding: 0 67px;
        color: $White;
        text-align: center;
        .v-aling {
            @include size(585px, 545px);
            display: table-cell;
            vertical-align: middle;
        }
        blockquote {
            @extend %pharagraph-level-3;
            font-style: italic;
            position: relative;
            line-height: 30px;
            &:before,
            &:after {
                @include size(47px, 37px);
                position: absolute;
                content: '';
                left: 50%;
                margin-left: -28px;
            }
            &:before {
                @include bg-img-only(quote-top, png, no-repeat, center, center);
                top: -85px;
            }
            &:after {
                @include bg-img-only(quote-bottom, png, no-repeat, center, center);
                bottom: -130px;
            }
        }
        span {
            text-transform: uppercase;
            display: block;
            margin-top: 31px;
            color: #c5e7f1;
            letter-spacing: 1px;
        }
    }
}

.products-animation {
    .card {
        @include transition(all 0.5s ease);
        @extend %pull-left;
        overflow: hidden;
        @include size(84px, 412px);
        &.active {
            @include size(412px, 412px);
        }
    }
}

.video-container {
    .onload-container {
        @extend %block-center;
        @include size(1170px, 546px);
        position: relative;
        overflow: hidden;
        .video {
            @include size(1170px, 510px);
            position: absolute;
            left: 0px;
            top: 0px;
            display: none;
            z-index: 10;
        }
    }
    @media (max-width: $screen-sm-max) {
        .onload-container {
            @include size(auto, auto);
        }
        .video {
            @include size(auto, auto);
        }
    }
}

.post-navigation,
.paging-navigation {
    .screen-reader-text {
        display: none;
    }
    a {
        @include border_radius(13px);
        @include transition(all 0.3s ease);
        @extend %text-center;
        width: 146px;
        padding: 15px 25px;
        margin-left: 10px;
        cursor: pointer;
        color: $Blue;
        border: none;
        border: 1px solid $Blue;
        background-color: rgba($Blue, 0.1);
        color: $Blue;
        text-transform: uppercase;
        display: block;
        &:hover {
            background-color: rgba($Blue, 0.2);
        }
    }
    .nav-previous {
        @extend %pull-right;
    }
    .nav-next {
        @extend %pull-left;
    }
}

.paging-navigation a {
    margin: 0;
}

.post-navigation {
    .nav-previous {
        float: left !important;
    }
    .nav-next {
        float: right !important;
    }
}

.gform_confirmation_message,
.validation_message,
.validation_error {
    font-size: 12px;
    padding: 10px 0;
    color: red;
    line-height: normal;
}

.gform_confirmation_message {
    color: green;
}

.flare {
    top: 140px !important;
    visibility: hidden !important;
}

.modal-box {
    @include border_radius(10px);
    @include absolute-valing($pos: fixed, $width: 650px, $height: 600px, $ptop: 50%);
    border: 5px solid #666666;
    background: white;
    z-index: 999999;
    padding: 30px;
    text-align: center;
    overflow-x: hidden;
    overflow-y: scroll;
    .gform_wrapper {
        clear: both;
        .gfield_label {
            display: none;
        }
        .ginput_container input {
            width: 226px;
            line-height: 16px;
            display: block;
            margin: 0px auto;
            margin-bottom: 10px;
        }
        .button {
            padding: 9px 29px !important;
            position: static !important;
            cursor: pointer;
            background-color: rgba($ModerateViolet, 0.3) !important;
            border-color: $ModerateViolet !important;
            color: $ModerateViolet !important;
            margin-top: 15px !important;
            margin-bottom: 20px;
            float: none;
            &:hover {
                background-color: rgba($ModerateViolet, 0.5) !important;
            }
        }
        .validation_error {
            padding: 0;
            margin-top: -5px;
            margin-bottom: 10px;
        }
        .gform_footer {
            &:before, &:after {
                clear: both;
            }
        }
    }
    a {
        color: $Blue;
    }
    .close {
        color: $Blue;
        text-decoration: underline;
        cursor: pointer;
        float: right;
        margin-top: 6px;
    }
}

.faded {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 99999;
}

sup {
    font-size: 16px;
    position: relative;
    top: -18px;
}