//
// Header
// --------------------------------------------------

.site-footer {
    a {
        color: $text-color;
        &:hover {
            text-decoration: underline;
        }
    }
    .bar {
        color: $White;
        text-transform: uppercase;
        .wrapper {
            padding-left: 21px;
            padding-top: 8px;
            height: 95px;
            background: $Blue;
            @media (max-width: $screen-sm-max) {
                padding: 10px;
                min-height: 95px;
                height: auto;
            }
        }
        img {
            vertical-align: top;
            @media (max-width: $screen-sm-max) {
                display: block;
                height: auto;
                width: 32px;
            }
        }
        span {
            display: inline-block;
            padding: 31px 1px 0 36px;
            letter-spacing: 1px;
            @media (max-width: $screen-sm-max) {
                padding: 10px 0 0;
            }
        }
        a {
            color: $White;
            &:hover {
                text-decoration: none;
            }
        }
    }
    .all-links {
        .wrapper {
            padding: 59px 0 0 80px;
            @include clearfix;
            @media (max-width: $screen-sm-max) {
                padding: 20px;
            }
        }
        a {
            color: #999999;
        }
        h3,
        h4 {
            color: $Gray;
            text-transform: uppercase;
            margin-bottom: 33px;
            letter-spacing: 1px;
            a {
                color: $Gray;
                &:hover {
                    text-decoration: none;
                }
            }
        }
        .block {
            @extend %pull-left;
            .gform_description,
            p {
                font-size: 14px;
                font-style: italic;
            }
            &.company {
                width: 203px;
            }
            &.resources {
                width: 264px;
            }
            &.the-book {
                width: 246px;
            }
            &.keep-in-touch {
                width: 300px;
            }
            .signup {
                @include clearfix;
                margin-top: 16px;
                margin-bottom: 25px;
                input {
                    @extend %pull-left;
                }
            }
            .social {
                a {
                    @extend %pull-left;
                    width: 137px;
                    padding-left: 27px;
                    padding-bottom: 11px;
                    margin-bottom: 7px;
                }
                @media (max-width: $screen-sm-max) {
                    clear: both;
                    a {
                        margin: 10px;
                        min-width: 25%;
                        text-align: left;
                        width: auto;
                    }
                }
            }
            @media (max-width: $screen-sm-max) {
                width: 100% !important;
                text-align: center;
            }
        }
        ul {
            li {
                margin-bottom: 12px;
            }
        }
        .gform_heading {
            display: block;
        }
        .gform_body,
        .gform_footer {
            @extend %pull-left;
        }
        .gform_footer {
            margin-top: 16px;
            margin-bottom: 25px;
            position: relative;
            padding: 0;
             clear: none;
            .button {
                padding: 6px 16px;
                margin-left: 6px;
                background-color: rgba($Blue, 0.2);
                cursor: pointer;
                border: 1px solid #0198cf;
                color: #0198cf;
                font-size: 13px;
                outline: none;
            }
            img {
                position: absolute;
                right: -20px;
                top: 5px;
            }
            @media (max-width: $screen-sm-max) {
                width: 100%;
                margin: 0 0 30px;
            }
        }
        .gform_body {
            margin-top: 16px;
            margin-bottom: 25px;
            input[type="text"],
            input[type="email"] {
                @include size(197px, 35px);
                padding-left: 13px;
                background-color: rgba($Blue, 0.2);
                border: none;
                color: $Blue;
                font-style: italic;
                @include input-placeholder {
                    color: $Blue;
                    font-style: italic;
                    font-size: 12px;
                }

                @media (max-width: $screen-sm-max) {
                    width: 92%;
                }
            }
            @media (max-width: $screen-sm-max) {
                width: 100%;
                margin: 10px 0;
                .gfield_label {
                    display: none;
                }
            }
        }
        .validation_message,
        .validation_error {
            padding-bottom: 0px;
        }
    }
    .end-bar {
        .wrapper {
            padding: 97px 86px 50px 70px;
            @include clearfix;
        }
        p {
            @extend %pull-left;
        }
        img {
            @extend %pull-right;
            margin-top: -18px;
        }
        @media (max-width: $screen-sm-max) {
            .wrapper {
                text-align: center;
                padding: 20px;
                p {
                    clear: both;
                    width: 100%;
                    line-height: 22px;
                    a {
                        width: auto;
                    }
                }
                a {
                    clear: both;
                    width: 100%;
                    img {
                        float: none;
                        margin: 20px auto 0;
                        max-width: 100%;
                    }
                }
            }
        }
    }
}