//
// Gfrom styling
// --------------------------------------------------

.gfield{
    overflow: hidden;
}

.gform_heading{
    display: none;
}

.gfield_label{
    font-style: normal!important;
    font-weight: bold;
}

.ginput_container{

    input{
        line-height: 30px;
        padding: 10px;
        border: 2px solid #cbcbcb;
        outline: none;
    }
    textarea{
        border: 2px solid #cbcbcb;
    }
}

.page-content .gform_wrapper .gform_footer input.button, .page-content .gform_wrapper .gform_footer input[type=submit]{
    margin: 0px auto;
    float: none;
    width: auto;
    display: block;
}