//
// Home page 
// --------------------------------------------------
.home {
    .hero_banner {
        @include bg-img(home_hero_banner, jpg, no-repeat, center, top);
        height: 546px;
        .wrapper {
            padding: 136px 0 0 105px;
        }
        h2 {
            @extend %heading-level-1;
            @include text-shadow(rgba(black, 0.3) 1px 1px 0);
            color: $White;
            padding-bottom: 57px;
            letter-spacing: -1px;
            span {
                @extend %heading-level-7;
                font-style: italic;
            }
        }
        .button {
            margin-left: 86px;
        }
    }
    .happier-world {
        .left-col {
            width: 520px;
        }
        .right-col {
            width: 395px;
            margin-top: -10px;
        }
        h2 {
            margin-bottom: 25px;
            span {
                line-height: 19px;
            }
        }
        .button {
            margin: 22px 0 0 94px;
        }
    }
    .happiness {
        &.two-column {
            h2 {
                margin-left: -40px;
            }
            .left-col {
                .media {
                    padding: 66px 0px 66px 60px;
                }
            }
            .right-col{
                 position: relative;
            }
        }
        .content {
            height: 545px;
            position: absolute;
            left: 0px;
            text-align: center;
            padding: 69px 79px;
            h3 {
                font-size: 50px;
                color: $White;
            }
            img {
                margin-top: 55px;
                margin-bottom: 34px;
            }
            &.winky {
                background: $Blue;
                z-index: 1;
            }
            &.sandels{
                background: $Orange;
                z-index: 2;
            }
            &.mountain{
                background: $DarkCyan;
                z-index: 3;
            }
            &.lilly{
                background: $LimeGreen;
                z-index: 4;
            }
            &.heart{
                background: $StrongMagenta;
                z-index: 5;
            }
        }
    }
    .core-values {
        text-align: center;
        .wrapper {
            padding-top: 66px;
            padding-bottom: 55px;
        }
        h2 {
            @extend %heading-level-7;
        }
        .cta {
            color: $DarkCyan;
            font-style: italic;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    .blog {
        .content {
            h3 {
                @extend %pharagraph-level-1;
            }
        }
    }   
}