//
// Layout
// --------------------------------------------------

body{
	@extend %museo_slab;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	font-size: $font-size-base;
	color: $text-color;
    //&.ugly-os{
      //  -webkit-text-stroke: 0.3px;
    // }
}

.wrapper{
    width: $site-width;
    @extend %block-center;
    .wp-caption {
        text-align: center;
    }
}

*{
	@include box-sizing(border-box);
}

#content{
	padding-top:112px;
     @media (max-width: $screen-sm-max) {
        padding: 0;
     }
}

#page{
    //@extend %ohide;
    @extend %relative;
    left:0px;
    &.animate-me{
        @include transition(0.5s);
        left:-248px;
        @extend %fixed;
    }   
    @media (max-width: $screen-sm-max) {
        .wrapper {
            width: auto;
        }
    }
}