//
// Typography
// --------------------------------------------------

%heading-level-1 {
    @include font-shorthand(42px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(38px, normal, 58px);
     }
}

%heading-level-2 {
    @include font-shorthand(40px, normal, 58px);
    @media (max-width: $screen-sm-max) {
           @include font-shorthand(36px, normal, 58px);
     }
}

%heading-level-3 {
    @include font-shorthand(38px, normal, 58px);
    @media (max-width: $screen-sm-max) {
          @include font-shorthand(34px, normal, 58px);
     }
}

%heading-level-4 {
    @include font-shorthand(36px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(32px, normal, 58px);
     }
      @media (max-width: 361px) {
         @include font-shorthand(28px, normal, 58px);
     }
}

%heading-level-5 {
    @include font-shorthand(34px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(30px, normal, 58px);
     }
}

%heading-level-6 {
    @include font-shorthand(32px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(28px, normal, 58px);
     }
}

%heading-level-7 {
    @include font-shorthand(30px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(26px, normal, 34px);
     }
}

%heading-level-8 {
    @include font-shorthand(28px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(24px, normal, 58px);
     }
}

%heading-level-9 {
    @include font-shorthand(26px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(22px, normal, 58px);
     }
}

%heading-level-10 {
    @include font-shorthand(24px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         
     }
}

%heading-level-11 {
    @include font-shorthand(22px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(18px, normal, 58px);
     }
}

%heading-level-12 {
    @include font-shorthand(20px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(16px, normal, normal);
     }
}

%pharagraph-level-1 {
    @include font-shorthand(18px, normal, normal);
    @media (max-width: $screen-sm-max) {
        @include font-shorthand(16px, normal, normal);
         
     }
}

%pharagraph-level-2 {
    @include font-shorthand(17px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(15px, normal, normal);
     }
}

%pharagraph-level-3 {
    @include font-shorthand(16px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(14px, normal, normal);
     }
}

%pharagraph-level-4 {
    @include font-shorthand(15px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(13px, normal, normal);
     }
}

%pharagraph-level-5 {
    @include font-shorthand(14px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(12px, normal, normal);
     }
}

%pharagraph-level-6 {
    @include font-shorthand(13px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(11px, normal, normal);
     }
}

%pharagraph-level-7 {
    @include font-shorthand(12px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(9px, normal, normal);
     }
}

%typography {
    padding: 25px 35px 25px 35px;
    .entry-header {
        h2 {
            @extend %heading-level-7;
            color: $Blue;
            line-height: 35px;
        }
    }
    .entry-meta {
        font-size: 13px;
        margin-bottom: 25px;
    }
    a {
        color: $Blue;
    }
    strong{
        font-weight: bold;
    }
    i,
    em{
        font-style: italic;
    }
    p {
        @extend %pharagraph-level-5;
        line-height: 1.7em;
        padding-bottom: 25px;
        &.wp-caption-text {
            text-align: center;
        }
    }
    ol,ul,p{
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    li {
        &:before{
            color: $Blue;
            position: absolute;
            left: -16px;
            top: 0px;
            font-size: 17px;
        }
        @extend %pharagraph-level-5;
        margin-bottom: 10px;
        position: relative;
        line-height: 1.7em;
        a {
            color: $Blue;
        }
    }
    ol,ul {
        margin-bottom: 25px;
    }
    ol {
        counter-reset: item;
        margin-left: 20px;
        li{
            &:before{
                content: counter(item) ". "; 
                counter-increment: item;
            }
        }
    }
    ul {
        margin-left: 21px;
        li{
            &:before {
                content: "\2022";
                font-weight: bold;
                font-size: 17px;
            }
        }
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.5em;
        margin-bottom: 5px;
    }
    h1 {
        @extend %heading-level-10;
    }
    h2 {
        @extend %heading-level-11;
    }
    h3 {
        @extend %heading-level-12;
    }
    h4 {
        @extend %pharagraph-level-1;
    }
    h5 {
        @extend %pharagraph-level-2;
    }
    h6 {
        @extend %pharagraph-level-3;
    }
    .alignleft {
        @extend %pull-left;
        margin-right: 15px;
    }
    .alignright {
        @extend %pull-right;
        margin-left: 15px;
    }
    .aligncenter {
        @extend .center-block-element;
        width: auto!important;
        float: none;

    }
    .wp-caption {
        font-style: italic;
        color: lighten($Gray, 20%);
    }
    blockquote {
        @extend %pharagraph-level-1;
        text-transform: uppercase;
        color: lighten($Gray, 20%);
        border-left: 2px solid lighten($Gray, 20%);
        padding-left:15px;
        margin-left: 15px;
        margin-bottom: 20px;
        p{
            padding: 0;
        }
    }
}


//	
//	New Style Guide Typography
//	-----------------------------------


// Page Heading
// --------------

@include class(heading-h1) {
	@include font-shorthand(40px, normal, normal);
	font-family: $heading-font-family;
}

@include class(heading-h2) {
	@include font-shorthand(28px, normal, 48px);
	font-family: $heading-font-family;
	font-style: italic;
}
@include class(heading-h3) {
	@include font-shorthand(22px, normal, 30px);
	font-family: $base-font-family;
}
@include class(heading-h4) {
	@include font-shorthand(28px, normal, 48px);
	font-family: $heading-font-family;
}
@include class(heading-h5) {
	@include font-shorthand(28px, normal, normal);
	font-family: $heading-font-family;
	text-transform: uppercase;
}
@include class(heading-h6) {
	@include font-shorthand(20px, normal, normal);
	font-family: $heading-font-family;
}

// Standard Paragraph
// --------------

@include class(copy-standard) {
	@include font-shorthand(18px, normal, 22px);
	font-family: $base-font-family;
}

@include class(copy-large) {
	@include font-shorthand(22px, normal, 30px);
	font-family: $base-font-family;
}

@include class(copy-blockquote) {
	@extend %heaing-h2;
	text-align: left;
	color: $dh-purple;
}
@include class(copy-cite) {
	@extend %heaing-h6;
	text-align: right;
	color: $dh-purple;
	font-style: normal;
}
@include class(copy-label) {
	@include font-shorthand(15px, normal, 30px);
	font-family: $heading-font-family;
	color: $dh-black;
}


// default Un-order and order Listing
// --------------

@include class(ul-default) {
	li{
		@include font-shorthand(18px, normal, 22px);
		list-style-type: disc;
		font-family: $base-font-family;
	}
}
@include class(ol-default) {
	@extend %ul-default;
	li{
		list-style-type: decimal;
	}
}
@include class(list-none) {
	list-style: none;
	margin:0;
	padding: 0;
	li{
		list-style: none;
	}
}

// default typography
// --------------

strong{
	font-weight: 700;
}
em{
	font-style: italic;
}

// Default anchor link
// --------------

@include class(links-default) {
	color: $dh-blue;
	&:hover{
		color: $dh-blue;
		text-decoration: underline;
	}
}
@include class(links-active) {
	color: $dh-purple;
}
@include class(links-left-sidebar) { 
	@extend %heaing-h6;
	color: #a4a4a4;
	&.active{
		color: $dh-purple;
	}
	&:hover{
		color: $dh-black;
	}
}
@include class(links-right-sidebar) {
	@include font-shorthand(18px, normal, normal);
	font-family: $base-font-family;
	color: $dh-gray-text;
	&:hover{
		color: $dh-black;
	}
}

// Default Button copy
// --------------
@include class(copy-button) {
	@include font-shorthand(17px, normal, normal);
	font-family: $heading-font-family;
	text-transform: uppercase;
}
@include class(copy-button-small) {
	@include font-shorthand(13px, normal, 24px);
	font-family: $base-font-family;
	text-transform: uppercase;
}

@include class(blockquote-default) {
	@extend %copy-blockquote;
	margin: 0;
	padding: 30px;
	background-color: #f6f6f6;
	border: none;
	p{
		@extend %copy-blockquote;
	}
	cite, .author{
		@extend %copy-cite;
		display: block;
	}
}