//
// Typography
// --------------------------------------------------

%heading-level-1 {
    @include font-shorthand(42px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(38px, normal, 58px);
     }
}

%heading-level-2 {
    @include font-shorthand(40px, normal, 58px);
    @media (max-width: $screen-sm-max) {
           @include font-shorthand(36px, normal, 58px);
     }
}

%heading-level-3 {
    @include font-shorthand(38px, normal, 58px);
    @media (max-width: $screen-sm-max) {
          @include font-shorthand(34px, normal, 58px);
     }
}

%heading-level-4 {
    @include font-shorthand(36px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(32px, normal, 58px);
     }
      @media (max-width: 361px) {
         @include font-shorthand(28px, normal, 58px);
     }
}

%heading-level-5 {
    @include font-shorthand(34px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(30px, normal, 58px);
     }
}

%heading-level-6 {
    @include font-shorthand(32px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(28px, normal, 58px);
     }
}

%heading-level-7 {
    @include font-shorthand(30px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(26px, normal, 34px);
     }
}

%heading-level-8 {
    @include font-shorthand(28px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(24px, normal, 58px);
     }
}

%heading-level-9 {
    @include font-shorthand(26px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(22px, normal, 58px);
     }
}

%heading-level-10 {
    @include font-shorthand(24px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         
     }
}

%heading-level-11 {
    @include font-shorthand(22px, normal, 58px);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(18px, normal, 58px);
     }
}

%heading-level-12 {
    @include font-shorthand(20px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(16px, normal, normal);
     }
}

%pharagraph-level-1 {
    @include font-shorthand(18px, normal, normal);
    @media (max-width: $screen-sm-max) {
        @include font-shorthand(16px, normal, normal);
         
     }
}

%pharagraph-level-2 {
    @include font-shorthand(17px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(15px, normal, normal);
     }
}

%pharagraph-level-3 {
    @include font-shorthand(16px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(14px, normal, normal);
     }
}

%pharagraph-level-4 {
    @include font-shorthand(15px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(13px, normal, normal);
     }
}

%pharagraph-level-5 {
    @include font-shorthand(14px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(12px, normal, normal);
     }
}

%pharagraph-level-6 {
    @include font-shorthand(13px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(11px, normal, normal);
     }
}

%pharagraph-level-7 {
    @include font-shorthand(12px, normal, normal);
    @media (max-width: $screen-sm-max) {
         @include font-shorthand(9px, normal, normal);
     }
}

%typography {
    padding: 25px 35px 25px 35px;
    .entry-header {
        h2 {
            @extend %heading-level-7;
            color: $Blue;
            line-height: 35px;
        }
    }
    .entry-meta {
        font-size: 13px;
        margin-bottom: 25px;
    }
    a {
        color: $Blue;
    }
    strong{
        font-weight: bold;
    }
    i,
    em{
        font-style: italic;
    }
    p {
        @extend %pharagraph-level-5;
        line-height: 1.7em;
        padding-bottom: 25px;
        &.wp-caption-text {
            text-align: center;
        }
    }
    ol,ul,p{
        a{
            text-decoration: underline;
            &:hover{
                text-decoration: none;
            }
        }
    }
    li {
        &:before{
            color: $Blue;
            position: absolute;
            left: -16px;
            top: 0px;
            font-size: 17px;
        }
        @extend %pharagraph-level-5;
        margin-bottom: 10px;
        position: relative;
        line-height: 1.7em;
        a {
            color: $Blue;
        }
    }
    ol,ul {
        margin-bottom: 25px;
    }
    ol {
        counter-reset: item;
        margin-left: 20px;
        li{
            &:before{
                content: counter(item) ". "; 
                counter-increment: item;
            }
        }
    }
    ul {
        margin-left: 21px;
        li{
            &:before {
                content: "\2022";
                font-weight: bold;
                font-size: 17px;
            }
        }
    }
    h1, h2, h3, h4, h5, h6 {
        line-height: 1.5em;
        margin-bottom: 5px;
    }
    h1 {
        @extend %heading-level-10;
    }
    h2 {
        @extend %heading-level-11;
    }
    h3 {
        @extend %heading-level-12;
    }
    h4 {
        @extend %pharagraph-level-1;
    }
    h5 {
        @extend %pharagraph-level-2;
    }
    h6 {
        @extend %pharagraph-level-3;
    }
    .alignleft {
        @extend %pull-left;
        margin-right: 15px;
    }
    .alignright {
        @extend %pull-right;
        margin-left: 15px;
    }
    .aligncenter {
        @extend .center-block-element;
        width: auto!important;
        float: none;

    }
    .wp-caption {
        font-style: italic;
        color: lighten($Gray, 20%);
    }
    blockquote {
        // @extend %pharagraph-level-1;
        // text-transform: uppercase;
        // color: lighten($Gray, 20%);
        // border-left: 2px solid lighten($Gray, 20%);
        padding-left:15px;
        margin-left: 15px;
        margin-bottom: 20px;
        p{
            padding: 0;
        }
    }
}

// 
//	New Style Guide Typography
//	===========================

h1, h2{
	@extend %museo_slab;
}
h1{
	font-size: 20px;
	font-style: italic;
	font-weight: normal;
}
h2{
	@include font-shorthand(12px, normal, 17px);
	font-style: italic;
}
h3, p, ul, li, ol{
	@extend %helvetica-light;
	@include font-shorthand(9px, normal, normal);	
}
em{
	font-style: italic;
}
strong{
	font-weight: 700;
}
ul{
	li{
		list-style-type: disc;
	}
}
ol{
	li{
		list-style-type: decimal;
	}
}
blockquote{
	@include font-shorthand(12px, normal, normal);
	@extend %museo_slab;
	@include box-shadow(none);
	margin: 0;
	color: $dh-blue;
	text-align: center;
	background-color: transparent;
	border: none;
	font-style: italic;
	p{
		@extend %museo_slab;
		@include font-shorthand(12px, normal, normal);
		color: $dh-blue;
	}
	cite{
		@include font-shorthand(9px, normal, normal);
		color: $dh-blue;
	}
}
p, li, h2, h3, h4, h5,h6{
	a{
		color: $dh-blue;
		&:hover{
			text-decoration: underline;
		}
	}
}
