//	
//	Variables new Style Guide
//	-----------------------------------


//	Brand Color
//	------------

$dh-black:				#000000 !default;
$dh-black-ligh:			#e5e5e5 !default;

$dh-white:				#ffffff !default;

$dh-blue:				#0099CC !default;
$dh-blue-light: 		#e5f5fa !default;

$dh-gray:				#9A9B9C !default;
$dh-gray-text:			#7e7e7e !default;
$dh-gray-dark:			#ebebeb !default;

$dh-yellow:				#FEC83B !default;
$dh-yellow-light:		#fff9eb !default;

$dh-orange:				#F9622A !default;
$dh-orange-light:		#feefe9 !default;

$dh-red:				#BD0034 !default;
$dh-red-light:			#f8e5ea !default;

$dh-berry:				#D00069 !default;
$dh-berry-light:		#fae5f0 !default;

$dh-violet:				#B000AB !default;
$dh-violet-light:		#f7e5f6 !default;

$dh-purple:				#7A2DBC !default;
$dh-purple-light:		#f1eaf8 !default;

$dh-green:				#00B346 !default;
$dh-green-light:		#e5f7ec !default;

$dh-lime:				#B2C100 !default;
$dh-lime-light:			#f7f9e5 !default;


//	Typography
//	---------------

$base-font-family:		"Helvetica Light" !default;
$heading-font-family: 	"Museo Slab", arial !default;



//
// Variables for Delivering Happiness
// --------------------------------------------------

// Brand colors
// -------------------------

$Black: $dh-black !default;
$Gray: lighten($Black, 40%);

// #666666
$LightGray: #efefef;
$White: $dh-white !default;
$OffWhite: #fbf9fa !default;
$Purple: #793cbd !default;
$Green: #00af42 !default;
$LightGreen: #c3eacb !default;
$Orange: #ff671b !default;
$LightOrange: #ffcdb4 !default;
$Yellow: #fec627 !default;
$LightBlue: #84cce5 !default;
$Blue: #0198cf !default;
$DarkCyan: #00a0ae !default;
$StrongYellow: #b6bc00 !default;
$SoftYellow: #ede9b9 !default;
$ModerateViolet: #783cbd;
$LightModerateViolet: #e0ccf1 !default;
$SoftCyan: #a8e2e3 !default;
$DarkCyan: #0099a8 !default;
$LimeGreen: #00af40 !default;
$StrongMagenta: #b318ac !default;

$text-color1: #0098cb;
$text-color2: #9b9fa0;
$text-color3: #868686;
$text-color4: #0098CE;
$text-color5: #666;
$text-color6: #ee3338;


$bdr-color1: #dfdfdf;
$bg-color1:		$dh-blue;
$bg-color2:		#E9F2F8;
$bg-color3:		#0097CD;
$bg-color4:		#E8F4F9;
$bg-color5:		#0098cf;

// Scaffolding
// -------------------------

$body-bg: white !default;
$text-color: $Gray;
$site-width: 1170px;

// Links
// -------------------------

$link-color: red;

// Typography
// -------------------------

$font-family-sans-serif: $heading-font-family !default;
$font-family-base: $font-family-sans-serif !default;
$font-size-base: 18px !default;

// Image directory
// -------------------------

$imagedir: "../images/global";

// Sprites
// -------------------------

@import "nav/*.png";

// Sprites image for main navigation
@include all-nav-sprites;

// Generator Sprites for main navigation

@import "mob-nav/*.png";

// Sprites image for main mob-navigation
@include all-mob-nav-sprites;

// Generator Sprites for main mob-navigation

@import "happiness/*.png";

// Sprites image for happiness section
@include all-happiness-sprites;

// Generator Sprites for happiness section

@import "social/*.png";

// Sprites image for social icons
@include all-social-sprites;

// Generator Sprites for social icons

@import "clients/*.png";

// Sprites image for client's list
@include all-clients-sprites;

// Generator Sprites for client's list

@import "happy-people/*.png";

// Sprites image for Quotes's list
@include all-happy-people-sprites;

// Generator Sprites for Quotes's list
@import "movements/*.png";

// Sprites image for Movements's list
@include all-movements-sprites;

// Generator Sprites for Movements's list
