//
// Ted
// --------------------------------------------------
.ted-landing-page{
    padding-top:30px;
    .ted-hero-banner{
        padding:45px 0 0 0;
        @include size(100% , 504px);
        @include bg-img(ted_hero_banner, jpg, no-repeat, center, top);
        @extend %text-center;
        .cl{
            color:$text-color6;
        }
        .cl1{
            color:$text-color4;
        }
        
        h6{
            color:$White;
            margin-bottom:25px;
            @extend %pharagraph-level-1;
            @extend %museo_slab;
            font-weight:500;
            small{
                @extend %pharagraph-level-5;
            }
        }
        h1{
            margin-bottom:5px;
        }
        h5{
            word-spacing:8px;
            margin-bottom:25px;
            @extend %heading-level-12;
            @extend .cl1;
            .tx{
                top:0px;
                @extend %relative;
                @extend %heading-level-2;
            }
        }
        p{
            color:$White;
            font-family:Arial;
            @extend %heading-level-12;
        }
    }
    .ted-three-colum{
        padding:90px 0;
        .ted-three-row{
            display:table;
            margin:0px auto;
            @extend %ohide;
        }
        a{
            display: table-cell;
            vertical-align: middle;
            @include square(310px);
            @extend text-center;
            @extend %museo_slab;
            &.col1{
                background:$bg-color5 url('#{$imagedir}/hellobgicon.png') no-repeat center center;
            }
            &.col2{
                width:350px;
                border-left: 20px solid $White;
                border-right: 20px solid $White;
                background:$bg-color5 url('#{$imagedir}/calculateicon.png') no-repeat center;
            }
            &.col3{
                background:$bg-color5 url('#{$imagedir}/happinessicon.png') no-repeat center;
            }
            span{
                color:$White;
                @include font-shorthand(30px, normal, normal);
                @extend %block-level;
                @extend %text-center;
            }
        }
    }
}
